<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="/styles/main.css">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chlorophyl{% if plant.name %} | {{plant.name}}{% endif %} </title>
</head>
<header>
	<h1 class="site-title"><a href="/">Chlorophyl</a></h1>
</header>

<body>
	{{content|safe}}
</body>
<footer>
<p>
	<a href="https://github.com/antoni-devlin/chlorophyl/">Source</a>
</p>
</footer>
</html>